.counter {
  position: relative;
  display: flex;
  width: 114px;
  height: 40px;
  margin-top: auto;
  border: 1px solid $color-default-black;

  @include vp-1023 {
    width: 81px;
    height: 34px;
  }

  input {
    width: 100%;
    padding: 8px 32px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;

    @include vp-1023 {
      padding: 9px 28px 6px;
      font-size: 16px;
    }
  }
}

.counter__button {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;

  @include vp-1023 {
    width: 27px;
    height: 34px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      svg {
        color: $color-nobel;
      }
    }

    &:active {
      svg {
        transform: translate3d(0, 0, 0) scale(0.8);
      }
    }
  }

  &--side-left {
    left: 0;
  }

  &--side-right {
    right: 0;
  }

  svg {
    display: block;
    width: 16px;
    height: 16px;
    transition: transform $trans-default, color $trans-default;
    transform: translate3d(0, 0, 0);
    pointer-events: none;

    @include vp-1023 {
      width: 12px;
      height: 12px;
    }
  }
}
