.custom-select {
  .custom-select__control {
    min-height: 44px;
    border: none;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      border: none;
      box-shadow: none;
    }
  }

  .custom-select__indicator {
    margin-top: 12px;
    padding: 0;
    color: $color-default-black;
    transition: transform $trans-default;

    &:hover,
    &:focus {
      color: $color-default-black;
    }

    svg {
      fill: transparent;
    }
  }

  .custom-select__value-container {
    padding-left: 0;
    overflow: visible;
  }

  .custom-select__indicator-separator {
    display: none;
  }

  .custom-select__placeholder {
    position: absolute;
    top: 18px;
    left: 0;

    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-left: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $color-nobel;
    font-feature-settings: 'tnum' on, 'lnum' on;

    backface-visibility: hidden;
    transition: all $trans-default;
    transform: translate3d(0, -50%, 0);
  }

  .custom-select__single-value {
    margin-top: 5px;
    margin-left: 0;
  }

  .custom-select__control--menu-is-open {
    .custom-select__placeholder {
      top: 0;
      font-size: 12px;
    }

    .custom-select__indicator {
      color: $color-default-black;
      transform: rotate(180deg);
    }
  }

  .custom-select__value-container--has-value {
    .custom-select__placeholder {
      top: 0;
      font-size: 12px;
    }
  }

  .custom-select__menu {
    top: 37px;
    padding: 0;
    background-color: $color-default-white;
    border: 1px solid $color-nobel;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: none;

    & > div {
      padding: 0;
    }
  }
}
