.custom-select {
  .custom-select__control {
    border: none;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      border: none;
      box-shadow: none;
    }
  }

  .custom-select__indicator {
    color: $color-default-black;
    transition: transform $trans-default;

    &:hover,
    &:focus {
      color: $color-default-black;
    }

    svg {
      fill: transparent;
    }
  }

  .custom-select__value-container {
    padding-left: 0;
  }

  .custom-select__indicator-separator {
    display: none;
  }

  .custom-select__placeholder {
    position: absolute;
    top: 50%;
    left: 0;

    display: inline-block;
    vertical-align: middle;
    width: 100%;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $color-nobel;
    font-feature-settings: 'tnum' on, 'lnum' on;

    backface-visibility: hidden;
    transition: transform $trans-default;
    transform: translate3d(0, -50%, 0);
  }

  .custom-select__control--menu-is-open {
    .custom-select__placeholder {
      transform: scale(0.9) translate3d(-30px, -120%, 0);
    }

    .custom-select__indicator {
      color: $color-default-black;
      transform: rotate(180deg);
    }
  }

  .custom-select__value-container--has-value {
    .custom-select__placeholder {
      transform: scale(0.9) translate3d(-30px, -120%, 0);
    }
  }
}
