.header {
  position: relative;
  padding: 30px 0;
  background-color: $color-default-white;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 53px;
}
