.header {
  padding: 30px 0;

  background-color: $color-default-white;

  &__logo {
    position: absolute;
    left: 50%;

    flex-shrink: 0;

    color: $color-default-white;

    transform: translate3d(-50%, 50px, 0);
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 40px;
}
