.input,
.textarea {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  border-bottom: 1px solid $color-nobel;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    position: absolute;
    top: 18px;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $color-nobel;
    font-feature-settings: 'tnum' on, 'lnum' on;
    backface-visibility: hidden;
    transition: all $trans-default;
    user-select: none;
  }

  input,
  textarea {
    flex-grow: 1;
    width: 100%;
    padding: 18px 10px 9px 0;
    border: none;
    outline: none;
    transition: border $trans-default, font-size $trans-default;
  }

  &.is-filled {
    label {
      top: 0;
      font-size: 12px;
    }
  }

  input:focus + label,
  textarea:focus + label {
    top: 0;
    font-size: 12px;
  }

  &__error {
    color: $color-torch-red;
  }

  &.is-invalid {
    border-color: $color-torch-red;

    .custom-select__placeholder {
      color: $color-torch-red;
    }
  }

  &--size-small {
    width: 46.5%;
  }
}

.input__error,
.input__label {
  transition: opacity $trans-default;
}

.input__error + .input__label {
  opacity: 0;
}
