.input,
.textarea {
  position: relative;

  width: 100%;
  margin-bottom: 20px;
  padding: 0;

  border-bottom: 1px solid $color-nobel;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    position: absolute;
    top: 50%;
    left: 0;

    display: inline-block;
    vertical-align: middle;
    width: 100%;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $color-nobel;
    font-feature-settings: 'tnum' on, 'lnum' on;

    backface-visibility: hidden;
    transition: transform $trans-default;
    transform: translate3d(0, -50%, 0);
  }

  input,
  textarea {
    flex-grow: 1;
    width: 100%;
    padding: 18px 10px 9px 0;
    border: none;
    outline: none;

    transition: border $trans-default, font-size $trans-default;

    &:hover {
      //border: 2px solid rgba($color-default-black, 0.5);
    }

    &:focus {
      //border: 2px solid rgba($color-default-black, 0.8);
    }
  }

  &.is-filled {
    label {
      transform: scale(0.9) translate3d(-30px, -120%, 0);
    }
  }

  input:focus + label,
  textarea:focus + label {
    transform: scale(0.9) translate3d(-30px, -120%, 0);
  }

  &__error {
    //position: absolute;
    //right: 0;
    //bottom: -5px;

    color: $color-torch-red;

    //opacity: 0;

    //transition: opacity $trans-default;
  }

  &.is-invalid {
    input {
      border: 2px solid $color-torch-red;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-torch-red, 0.5);
      }
    }

    .input__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/
}

.input__error,
.input__label {
  transition: opacity $trans-default;
}

.input__error + .input__label {
  opacity: 0;
}
