.main-nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 20px;

    &:nth-child(4) {
      margin-left: auto;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: $color-nobel;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    transition: color $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-default-black;
      }
    }

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }
}
