.products {
  padding-top: 70px;

  @include vp-1023 {
    padding-top: 41px;
  }
}

.products__title {
  margin: 0 0 28px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.15;
  font-feature-settings: 'tnum' on, 'lnum' on;

  @include vp-1023 {
    margin-bottom: 31px;
    font-size: 26px;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  padding: 25px 0;
  border-bottom: 1px solid $color-gainsboro;

  @include vp-1023 {
    padding: 16px 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;

    @include vp-1023 {
      border-bottom: 1px solid $color-gainsboro;
    }
  }
}
