.search {
  transform: translate3d(0, -15px, 0);

  form {
    display: flex;
    align-items: center;
  }
}

.search__button {
  display: block;
  align-self: flex-end;
  margin-right: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: $color-default-black;
  transition: color $trans-default;
  cursor: pointer;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-nobel;
    }
  }

  svg {
    display: block;
    width: 25px;
    height: 25px;
    fill: transparent;
  }
}
