.search {
  form {
    display: flex;
    align-items: center;
  }
}

.search__button {
  display: block;
  align-self: flex-end;
  margin-right: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: $color-default-black;
  cursor: pointer;

  svg {
    display: block;
    width: 25px;
    height: 25px;
    fill: transparent;
  }
}
