.user__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user__item {
  position: relative;
  margin-right: 22px;

  @include vp-1023 {
    margin-right: 12px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.user__link {
  color: $color-default-black;
  transition: color $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-nobel;
    }
  }

  svg {
    display: block;
    width: 28px;
    height: 28px;
    fill: transparent;
    transform: translate3d(0, 0, 0);
    pointer-events: none;
  }
}

.user__counter {
  position: absolute;
  top: -6px;
  right: -8px;
  display: block;
  padding: 1px 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: $color-default-white;
  background-color: $color-default-black;
  border-radius: 50%;
}
