.user {

}

.user__list {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(22px, 22px));
  //gap: 22px;
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.user__item {
  margin-right: 22px;

  &:last-child {
    margin-right: 0;
  }
}

.user__link {
  color: $color-default-black;
  transition: color $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-nobel;
    }
  }

  svg {
    display: block;
    width: 28px;
    height: 28px;

    fill: transparent;
    transform: translate3d(0, 0, 0);
  }
}
