.user {

}

.user__list {
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(22px, 22px));
  //gap: 22px;
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.user__item {
  margin-right: 22px;

  svg {
    width: 22px;
    height: 22px;

    fill: transparent;
    transform: translate3d(0, 0, 0);
  }
}
